*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: rgba($color-grey-dark-3, 0.2);
}

::-webkit-scrollbar-thumb {
  background: $color-grey-dark-2; 
}

::-webkit-scrollbar-thumb:hover {
  background: $color-grey-dark-3; 
}