.auth {
  width: 60%;
  height: 125rem;
  margin: 0 auto;
  padding-top: 8rem;
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 8rem;
    padding-left: 3rem;
    position: relative;
    &:first-child {
      border-top: 3px solid $color-black;
    }
    &:not(:first-child) {
      border-top: 1px solid $color-grey-light-3;
    }

    &--back {
      background-color: $color-grey-light-2; 
    }
    
  }
  &__text {
    width: 20%;
  }
  &__input {
    width: 30%;
    height: 5rem;
    outline: none;
    padding-left: 1rem;
    border: 1px solid $color-grey-light-3; 
    &::-webkit-input-placeholder {
      color: $color-grey-light-3;
    }
  }

  &__email-button {
    margin-left: 2rem;
  }

  &__agree-content {
      margin-left: 1rem;
      color: $color-black;
      text-decoration: underline;
      font-size: 1.4rem;
      font-weight: 600;
  }

  &__checkbox {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
  }

  &__buttons {
    text-align: center;
    margin-top: 5rem;
  }
  &__conform {
    margin-left: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: $color-primary;
    text-decoration: underline;
  }
}