// COLORS

$color-primary-light: #f98c84;
$color-primary: #FF5A4D;
$color-primary-dark: #ff2513;

$color-secondary-light: #D0E2D0;
$color-secondary: #8ECF91;
$color-secondary-dark: #50A050;

$color-tertiary: #3FCBCE;
$color-tertiary-light: #80EDEA;
$color-tertiary-dark: #209E9E;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;
$color-grey-light-4: #bbb;

$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;
$color-grey-dark-4: #222;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 2rem;